<ons-navigator var="app.navi">
    <ons-page id="aboutPage">
        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button onclick="app.menu.toggleMenu()"><ons-icon icon="fa-bars"></ons-icon></ons-toolbar-button>
            </div>
            <div class="center">A propos</div>
        </ons-toolbar>
        <ul class="list"/>
	        <li  class='list__item'><span style='font-weight:bold'> Description : </span> Application réalisée dans le cadre du cours de Cordova à l'Ecole des Mines de Nantes </li>
			<li class='list__item'><span style='font-weight:bold'> Version : </span> 1.0</li>
			<li class='list__item'><span style='font-weight:bold'> Auteur : </span>Joris Pichard</li>
			<li class='list__item'><span style='font-weight:bold'> Github : </span><i class="fa fa-github"></i><a href="https://github.com/Olybrius"> Olybrius</a></li>
		</ul>
    </ons-page>
</ons-navigator>
