<ons-list class="menu">
    <ons-list-item modifier="chevron" onclick="app.menu.setMainPage('views/home.html', {closeMenu: true})">
        <ons-icon icon="fa-home"></ons-icon> Accueil
    </ons-list-item>
    <ons-list-item modifier="chevron" onclick="app.menu.setMainPage('views/sessions.html', {closeMenu: true})">
        <ons-icon icon="fa-calendar-o"></ons-icon> Sessions
    </ons-list-item>
    <ons-list-item modifier="chevron" onclick="app.menu.setMainPage('views/speakers.html', {closeMenu: true})">
        <ons-icon icon="fa-users"></ons-icon> Présentateurs
    </ons-list-item>
    <ons-list-item modifier="chevron" onclick="app.menu.setMainPage('views/agenda.html', {closeMenu: true})">
        <ons-icon icon="fa-calendar"></ons-icon> Agenda
    </ons-list-item>
    <ons-list-item modifier="chevron" onclick="app.menu.setMainPage('views/techniques.html', {closeMenu: true})">
        <ons-icon icon="fa-gear"></ons-icon> Page Technique
    </ons-list-item>
    <ons-list-item modifier="chevron" onclick="app.menu.setMainPage('views/about.html', {closeMenu: true})">
         A propos
    </ons-list-item>
</ons-list>
