<ons-page id="speakerPageDetails">
        <div class="right">
           <ons-toolbar>
            <div class="left">
                <ons-toolbar-button onClick="app.navi.popPage()"><ons-icon icon="fa-chevron-left"></ons-icon></ons-toolbar-button>
            </div>
            <div class="center">Sessions</div>
        </ons-toolbar>
        <ons-list>
          <ons-list-item>
            <ons-icon icon="fa-user" size="20px"></ons-icon>
             Ajouter à mes contacts
            <label class="switch switch--list-item">
                <input id="checkBox" type="checkbox" class="switch__input">
                <div class="switch__toggle"></div>
            </label>
           </ons-list-item>
        </ons-list>
      <div class="profile-card">

        <img id="profileImage"class="profile-image">
        <div id="profile-name" class="profile-name"></div>
        <div id="profile-id" class="profile-id"></div>
        <div id="profile-desc" class="profile-desc"></div>
        <div id="profile-social"></div>
      </div>
</ons-page>
